@import "compass/css3";

*{
  box-sizing: border-box;
}

html,
body{
  background-color: #FEDCC8;
}

h1 {
  font-size: 80px;
}

h5 {
  font-size: 110%;
}

#line {
  width: 40vw;
  margin-top: -40px;
}

#subtitle {
  padding-top: 40px;
}

#name {
  top: 20vh;
  text-align: center;
  position: relative;
  font-family:Georgia,serif;
  color:#4E443C;
  font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
}

.button-group {
  position: relative;
  text-align: center;
  top: 40vh;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  width: 80vw;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 82vw;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img{
    width: 80vw;
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__cover{
  background: #2D112B;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 60%;
  z-index: 2;
  width: 80vw;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x/2#{px}) scale($x/2 + 1);
  }
}
